<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Player</title>
  </head>
  <body>
    <form action="/addplayer" method="POST">
      <h1>Player and Team</h1>
      <input type="text" placeholder="Player Name" name="player">
      <input type="text" placeholder="Team" name="team"><br>
      <h1>Salary and Years</h1>
      <input type="text" placeholder="Salary" name="salary">
      <input type="text" placeholder="Years" name="years"><br>
      <h1>Stats</h1>
      <input type="text" placeholder="Fastball" name="fast">
      <input type="text" placeholder="Change-up" name="change">
      <input type="text" placeholder="Off-speed" name="off"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
